<h1>Camera access using WebRTC</h1>
<hr />
<h2>Demo</h2>
<video
  class="video-container"
  playsinline
  [mediaStream]="{ video: true }"
  (intitError)="onError($event)"
  (videoRecorded)="onVideo($event)"
>
  Video stream not available.
</video>
<div class="buttons-container">
  <button (click)="mediaStream.play()">Start</button>
  <button (click)="mediaStream.pause()">Pause</button>
  <button (click)="mediaStream.stop()">Stop</button>
  <button (click)="onPic()">Take</button>
  <button (click)="mediaStream.recordStart()">Record Start</button>
  <button (click)="mediaStream.recordStop()">Record Stop</button>
</div>

<ng-container *ngIf="picSrc">
  <hr />
  <h2>Pic Result</h2>
  <img [src]="picSrc" />
</ng-container>

<ng-container *ngIf="videoSrc">
  <hr />
  <h2>Video Result</h2>
  <video controls class="video-container" [src]="videoSrc"></video>
</ng-container>
