<header>
  <nav class="navigation">
    <ul class="navigation__list">
      <li><a routerLink="/camera" routerLinkActive="active">Camera</a></li>
      <li><a routerLink="/ng-content" routerLinkActive="active">NG Content</a></li>
      <li>
        <a routerLink="/reactive-forms" routerLinkActive="active"
          >Reactive Forms (CVA Demo)</a
        >
      </li>
      <li>
        <a routerLink="/template-forms" routerLinkActive="active"
          >Template Forms (CVA Demo)</a
        >
      </li>
    </ul>
  </nav>
</header>

<article>
  <router-outlet></router-outlet>
</article>
